name: Deno Tests

on:
  pull_request:
    paths:
      - "supabase/functions/**"

jobs:
  test:
    name: Edge Function Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Test
        working-directory: supabase/functions
        run: deno test --allow-env --no-lock **/*.test.ts
